absl-py==1.0.0
appdirs==1.4.4
appnope @ file:///opt/concourse/worker/volumes/live/6ca6f098-d773-4461-5c91-a24a17435bda/volume/appnope_1606859448531/work
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
attrs==21.4.0
audioread==2.1.9
autopep8==1.6.0
backcall==0.2.0
black==21.12b0
bleach==4.1.0
boto3==1.21.27
botocore==1.24.27
cachetools==5.0.0
catboost==1.0.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
click==8.0.3
cycler==0.11.0
debugpy @ file:///opt/concourse/worker/volumes/live/fb0af3c0-b0a4-42c5-46e7-6ce9c84da602/volume/debugpy_1637091827531/work
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.4
docopt==0.6.2
entrypoints==0.3
executing==0.8.2
Flask==2.0.3
Flask-API==3.0.post1
flatbuffers==2.0
fonttools==4.29.0
gast==0.5.3
gensim==3.2.0
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.19.1
grpcio==1.43.0
h5py==3.6.0
hep-ml==0.7.1
idna==3.3
imageio==2.14.1
imbalanced-learn==0.9.0
imblearn==0.0
importlib-metadata==4.10.1
install==1.3.5
ipykernel==6.7.0
ipython==8.0.1
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==7.6.5
itsdangerous==2.1.0
jedi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/croot-_fqcyoc8/jedi_1642692196064/work
Jinja2==3.0.3
jmespath==1.0.0
joblib==1.1.0
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core @ file:///opt/concourse/worker/volumes/live/365b665b-3a8e-478f-5f79-ff4d9b0854bd/volume/jupyter_core_1636537252467/work
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kaggle==1.5.12
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
libclang==13.0.0
librosa==0.9.1
lightgbm==3.3.2
lime==0.2.0.1
llvmlite==0.38.0
lofo-importance==0.3.1
lxml==4.7.1
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
multipledispatch==0.6.0
mypy-extensions==0.4.3
natsort==8.1.0
nbclient==0.5.10
nbconvert==6.4.1
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.6.3
nltk==3.6.7
noisereduce==2.0.0
notebook==6.4.8
numba==0.55.1
numexpr==2.8.1
numpy==1.21.5
oauthlib==3.2.0
opencv-python==4.5.5.62
opt-einsum==3.3.0
packaging==21.3
pandarallel==1.5.5
pandas==1.2.0
pandas-flavor==0.2.0
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
patsy==0.5.2
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.0.0
pipreqs==0.4.11
platformdirs==2.4.1
plotly==5.6.0
pooch==1.6.0
prometheus-client==0.13.1
prompt-toolkit==3.0.26
protobuf==3.19.4
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval==0.2.2
pyaml==21.10.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pyee==8.2.2
Pygments==2.11.2
pyjanitor==0.22.0
pyparsing==3.0.7
pyppeteer==1.0.2
pyrsistent==0.18.1
python-dateutil==2.8.2
python-slugify==6.0.1
pytz==2021.3
PyWavelets==1.2.0
PyYAML==6.0
pyzmq @ file:///opt/concourse/worker/volumes/live/dbbc086d-2905-496b-54ee-08109e9ced8d/volume/pyzmq_1638435006316/work
qtconsole==5.2.2
QtPy==2.0.0
regex==2022.1.18
requests==2.27.1
requests-oauthlib==1.3.1
resampy==0.2.2
rsa==4.8
s3transfer==0.5.2
scikit-image==0.19.1
scikit-learn==1.0.2
scikit-optimize==0.9.0
scipy==1.7.3
seaborn==0.11.2
Send2Trash==1.8.0
six==1.16.0
sklearn==0.0
smart-open==5.2.1
SoundFile==0.10.3.post1
stack-data==0.1.4
statsmodels==0.13.2
tables==3.7.0
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-addons==0.16.1
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado==0.13.1
testpath==0.5.0
text-unidecode==1.3
tf-estimator-nightly==2.8.0.dev2021122109
Theano==1.0.5
threadpoolctl==3.0.0
tifffile==2021.11.2
toml==0.10.2
tomli==1.2.3
torch==1.10.2
tornado @ file:///opt/concourse/worker/volumes/live/2c1a63a2-006b-48ee-56b9-0cfe8b4927f9/volume/tornado_1606942321278/work
tqdm==4.62.3
traitlets==5.1.1
turtle==0.0.1
typeguard==2.13.3
typing_extensions==4.0.1
urllib3==1.26.8
watermark==2.3.0
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
websockets==10.2
Werkzeug==2.0.2
widgetsnbextension==3.5.2
wrapt==1.13.3
xarray==2022.3.0
xgboost==1.5.2
yarg==0.1.9
zipp==3.7.0
